
<h1><%= @extensions.total_entries %> Available <%= APP_CONFIG['tension']['software_name'] %> Extensions</h1>

<% for extension in @extensions %>
  <%= render :partial => 'short_details', :locals => {:extension => extension} %>
  <hr/>
<% end %>

<div class="column span-24">
  <%= will_paginate @extensions %>
</div>
